.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #835797;
    color: #fff;
    font-size: 12px; 
    font-weight: bold;
}

.hidden {
    opacity: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.checkbox-container {
    margin-left: auto;
}